<ion-header>
  <ion-navbar color="primary">
    <ion-title>Episodes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Season</ion-label>
    <ion-select (ionChange)="changeSeason()" [(ngModel)]="selectedSeason" name="season">
      <ion-option *ngFor="let season of seasons">{{ season }}</ion-option>
    </ion-select>
    <h1>Season: {{ selectedSeason }}</h1>
  </ion-item>

  <ion-card *ngFor="let episode of episodes">
    <img src="{{episode.image_url}}">
    <ion-item>
      <h2><a href="{{episode.episode_url}}">{{ episode.title }}</a></h2>
      <ion-row>
        <ion-col center text-center>
            <p>Season {{ episode.season }} episode {{ episode.episode }}</p>
        </ion-col>
        <ion-col center text-center>
            <p>Aired: {{ parseDate(episode.airdate) }}</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-card-content>
      <p>{{ episode.summary }}</p>
    </ion-card-content>
    <button ion-button block (click)="viewLink( episode.episode_url )">View online</button>
  </ion-card>
</ion-content>
